{% include 'base.html' %}
{% load static %}
   <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <!--<link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">-->
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-primary float-none">
        <div class="container-fluid"><img src="{% static 'img/mainicon.png' %}" width="30px" height="30px" alt="10px"><a class="navbar-brand text-center" href="#" style="margin: 0px 0px;">HOSPITAL SYSTEM</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav text-light ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="{% url 'home' %}" >Home</a></li>
                <li> <a href="{% url 'profile' %}" >Profile</a></li>
                <li> <a href="{% url 'viewappointments' %}" style="color: white;">View Appointments</a></li>
                <li> <a href="#">Add Prescription</a></li>
                <li> <a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <h2 class="text-left">Upcoming Appointments</h2>
                <div class="text-center" role="tablist" id="accordion-1">
                    {% for i in coming_a %}
                    <ul class="collapsible popout text-center" data-collapsible="accordion">
                    <li class="card">
                        <div class="card-header collapsible-header">
                            <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>{{i.patientname}} have appointment with Dr. {{i.doctorname}} on {{ i.appointmentdate}}</a></h5>
                        </div>
                        <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Doctor Name:</td>
                                        <td>{{ i.doctorname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Patient Name:</td>
                                        <td>{{ i.patientname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Date:</td>
                                        <td>{{ i.appointmentdate }}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Time:</td>
                                        <td>{{ i.appointmenttime }}</td>
                                    </tr>
                                    <tr>
                                        <td>Symptoms:</td>
                                        <td>{{ i.symptoms }}</td>
                                    </tr>
                                    <tr>
                                        <td>Add Prescription :</td>
                                       <form method="POST">
                                        <td>{% csrf_token %}
                                            <textarea class="form-control" name="prescription"></textarea>
                                            <input type="hidden" name="idofprescription" value="{{i.id}}">
                                        </td>
                                        <td>
                                            <input type="submit" class="btn-danger" value="add_prescription" name="submit">
                                        </td>
                                       </form>
                                    </tr>
                                </table>
                            </div>
                    </li>

                </ul>
                 {% endfor %}

                </div>
                <h2 class="text-left">Previous Appointments</h2>
                <div class="text-center" role="tablist" id="accordion-2">
                    {% for j in pre_a %}
                   <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">

                                <h5 style="color:red;"><a><i class="fa fa-calendar-check-o"></i>{{j.patientname}} had appointment with Dr. {{j.doctorname}} on {{ j.appointmentdate}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Doctor Name:</td>
                                        <td>{{ j.doctorname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Patient Name:</td>
                                        <td>{{ j.patientname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Date:</td>
                                        <td>{{ j.appointmentdate }}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Time:</td>
                                        <td>{{ j.appointmenttime }}</td>
                                    </tr>
                                    <tr>
                                        <td>Symptoms:</td>
                                        <td>{{ j.symptoms }}</td>
                                    </tr>
                                    <tr>
                                        <td>Prescription:</td>
                                        <td>{{ j.prescription }}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
            </div>
        </div>
    </div>
    </div>
</body>

</html>